/* .container-nav {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 10%;
    bottom: 0%;
    background: #F0F2F5;
}

.box-link-search {
  position: absolute;
  width: 439px;
  height: 2178px;
  left: 1px;
  top: 100px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: #2fc18c
}

.link-search {
  display: flex;
  position: absolute;
  width: 137px;
  height: 36px;
  left: 100px;
  top: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 29px;
  color: #f0f2f5;
}

.box-link-favorites {
  position: absolute;
  width: 547px;
  height: 78px;
  left: 445px;
  top: 100px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: #f0f2f5
}

.link-favorites {
  display: flex;
  position: absolute;
  width: 137px;
  height: 26px;
  left: 140px;
  top: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 29px;
  color:#2fc18c;
}

.box-link-profile {
  position: absolute;
  width: 439px;
  height: 78px;
  left: 996px;
  top: 100px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: #f0f2f5
}

.link-profile {
  display: flex;
  position: absolute;
  width: 137px;
  height: 36px;
  left: 140px;
  top: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 29px;
  color:#2fc18c;
  }

.container-header {
  background: #023031;
  box-shadow: 0 4px 1px rgba(0, 0, 0, 0.25);
  height: 96px;
  left: 0;
  position: absolute;
  top: 4px;
  width: 1440px;
  }

.container-links-header {
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  height: 78px;
  left: 1px;
  position: absolute;
  top: 100px;
  width: 1439px;
  background: #f0f2f5;
  font-size: 50px;
}

.container-user {
  background: white;
  border-radius: 50px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  height: 41.65px;
  left: 1192px;
  position: absolute;
  top: 31px;
  width: 198.7px;
}

.icon-user {
  left: 5%;
  position: absolute;
  top: 5%;
}

.img-header {
  height: 96px;
  left: 35px;
  position: absolute;
  top: -14px;
  width: 117px;
}

.loading {
  color: #023031;
  font-size: 100px;
  font-style: normal;
  font-weight: 300;
  height: 72px;
  left: 511px;
  letter-spacing: 0.02em;
  line-height: 65px;
  position: absolute;
  top: 492px;
  width: 418px;
}

.logoTunes {
  height: 158px;
  left: 604px;
  position: absolute;
  top: 120px;
  width: 208px;
}

.userName {
  color: #29313d;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  height: 28.63px;
  left: 60.23px;
  line-height: 18px;
  position: absolute;
  top: 12.02px;
  width: 145.77px;
}

.welcome-text {
  color: #e1e5eb;
  font-size: 45px;
  font-style: normal;
  font-weight: 500;
  left: 32%;
  position: absolute;
  top: 22px;
} */