/* .btn-login {
  align-items: center;
  background: #003be5;
  border-radius: 2px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 40px;
  justify-content: center;
  left: 80px;
  padding: 8px 32px;
  position: absolute;
  top: 150px;
  width: 539px;
}

.container-login {
  background: #fafafa;
  height: 1024px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.form-container {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 314px;
  left: 372px;
  position: absolute;
  top: 300px;
  width: 697px;
}

.input-name {
  align-items: flex-start;
  background: white;
  border: 1px solid #e1e5eb;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 45px;
  left: 50px;
  padding: 12px 16px;
  position: absolute;
  top: 80px;
  width: 600px;
}

.loading {
  color: #023031;
  font-size: 100px;
  font-style: normal;
  font-weight: 300;
  height: 72px;
  left: 511px;
  letter-spacing: 0.02em;
  line-height: 65px;
  position: absolute;
  top: 492px;
  width: 418px;
}

.logoTunes {
  height: 158px;
  left: 604px;
  position: absolute;
  top: 120px;
  width: 208px;
}
 */